.form_wrapper {
  width: inherit;
  height: 20rem;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.form {
  width: 30%;
  height: 15rem;
  padding: 10px;
  grid-gap: 20px;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  position: absolute;
  display: none;
}

.title,
.description {
  transform: translate(-30%);
  width: 20rem;
  height: 40px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(74, 199, 237);
  outline: none;
  padding: 10px;
  color: #fff;
  letter-spacing: 3px;
}
::placeholder {
  color: #fff;
}
.label {
  color: #fff;
  filter: drop-shadow(10px 20px 13px #000);
}
.file {
  display: none;
}
.button {
  transform: translate(-30%);
  height: 40px;
  border-radius: 10px;
  background-color: rgb(74, 199, 237);
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
  outline: none;
  border: none;
  transition: font-size 3s;
  cursor: pointer;
  filter: drop-shadow(10px 20px 13px #000);
}
