.section {
  display: none;
  width: 30%;
  height: max-content;
  flex-direction: column;
}

.div_wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 10px;
  cursor: pointer;
  align-items: flex-start;
}

.div_img img {
  width: 100%;
  height: 200px;
  clip-path: circle(50% at 40% 20%);
}

.div_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: yellow;
  transform: translateX(20%);
  /* margin-top: 10px;
  margin-left: 20px; */
}
